<div class="min-vh-100 d-flex justify-content-center" >
    <div class="mt-5" style="width:95%">
        <div class="d-flex justify-content-center align-items-center">
            <mat-form-field class="w-50 me-4">
                <mat-label>Eth-Node URL</mat-label>
                <input matInput [(ngModel)]="nodeUrl" type="text">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="connectToNode()">Connect</button>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Approach 1: Singleton TX-Creating Machine">
                <app-approach1></app-approach1>
            </mat-tab>
            <mat-tab label="Approach 2: Distinct Account per TX-Creating Machine">
                <app-approach2 [provider]="provider"></app-approach2>
            </mat-tab>
            <mat-tab label="Approach 3: Singleton Nonce Manager">
                <app-approach3></app-approach3>
            </mat-tab>
            <mat-tab label="Approach 4: Nonce Contingents">
                <app-approach4></app-approach4>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
