<div class="w-100 container m-auto">

    <div class="mb-4 mt-4">
        <app-transaction-chart></app-transaction-chart>
    </div>

    <mat-horizontal-stepper class="bg-light mb-4">

        <mat-step label="Strategy 1: distinct account per user agent">
            <p class="mt-4">
                Here we simulate the transaction creation from multiple user agents where each user agent
                has its own ethereum account. Through the input form you can add new accounts. After pressing
                one of the 'Start Loop' - Buttons, ~2 transactions per second will be created for the corresponding
                account (~18 per second if transaction creation is started for all 9 predefined accounts)
            </p>
            <div class="w-50 m-auto mb-4 mt-3">
                <form class="w-100" #keyForm="ngForm">
                    <mat-form-field class="w-100">
                        <mat-label>Add new Account</mat-label>
                        <input matInput
                               type="text"
                               [(ngModel)]="privateKey"
                               name="key"
                               required minlength="66"
                               maxlength="66"
                               placeholder="Private Key...">
                    </mat-form-field>
                </form>
                <button mat-raised-button color="warn"
                        (click)="addNewAccount(privateKey)"
                        [disabled]="keyForm.invalid">
                    Submit
                </button>
            </div>

            <div class="w-100 row">
                <div class="col-4 mb-3" *ngFor="let account of accounts">
                    <app-account [account]="account"></app-account>
                </div>
            </div>

        </mat-step>

        <mat-step label="Strategy 2: single account">
            <p class="mt-4">
                Here we simulate the transaction creation from multiple user agents where every agent uses the same account.
                After pressing the button below, the express js app will start to create ~20 transactions per second
                from a single account and sent them to the geth nodes via the load balancer. Pressing the button again
                will stop the transaction creation.
            </p>
            <div>
                <button mat-raised-button color="warn" (click)="createTransactionsSingleAccount()">
                    {{isLooping ? 'Stop' : 'Start'}} transaction creation
                </button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>



    <!--
    <div class="m-1 bg-secondary" *ngFor="let tx of pendingTransactions.values()">
        <span>from: {{tx.from}}, nonce: {{tx.nonce}}</span>
    </div>
    -->

</div>
