<div class="d-flex flex-column justify-content-center p-5">

    <!-- Middleware -->
    <div>
        <mat-card class="bg-light">
            <mat-card-title class="d-flex align-items-center justify-content-between">
                <div>Middleware</div>
                <div>
                    <button class="ms-5" mat-raised-button color="accent" (click)="fetchResults()">Fetch Results</button>
                    <button mat-raised-button color="primary" (click)="downloadResultsAsJsonFile()">Download results</button>
                </div>
            </mat-card-title>
            <mat-card-content class="d-flex align-items-stretch justify-content-between mt-3">

                <mat-card class="d-flex flex-column flex-fill">
                    <div>
                        <mat-form-field>
                            <mat-label>Base URL</mat-label>
                            <input #middlewareUrlInput1 matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <button mat-raised-button color="primary" (click)="setBaseUrlMiddleware(middlewareUrlInput1.value)">Set URL</button>
                    </div>
                    <div>Base URL: {{middleware.url}}</div>
                </mat-card>

                <mat-card class="d-flex flex-column flex-fill">
                    <div>
                        <mat-form-field>
                            <mat-label>Eth private key</mat-label>
                            <input #privateKeyInput matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <button mat-raised-button color="primary" class="me-2" (click)="setAccount(privateKeyInput.value)">Set Account</button>
                        <button mat-raised-button color="accent" (click)="getCurrentAccount()">Fetch Account</button>
                    </div>
                    <div class="text-break">account address: {{middleware.accountAddress}}</div>
                    <div class="text-break">private key: {{middleware.privateKey}}</div>
                </mat-card>

                <mat-card class="d-flex flex-column flex-fill">
                    <div>
                        <mat-form-field>
                            <mat-label>Contract address</mat-label>
                            <input #contractAddressInput matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <button mat-raised-button color="primary" class="me-2" (click)="setContractAddress(contractAddressInput.value)">Set Address</button>
                        <button mat-raised-button color="accent" (click)="getCurrentContractAddress()">Fetch Address</button>
                    </div>
                    <div class="text-break">contract address: {{middleware.contractAddress}}</div>
                </mat-card>

            </mat-card-content>
        </mat-card>
    </div>

    <!-- Number of TX-Creating Machines -->
    <div class="d-flex justify-content-around mt-5 mb-4">
        <div class="d-flex align-items-center">
            <div>Number of TX-Creating Machines: </div>
            <div class="w-25 ps-3">
                <mat-form-field>
                    <mat-label>Number of TX-Creating Machines</mat-label>
                    <input matInput min="0" [(ngModel)]="numberMachines" type="number" (change)="updateMachines()">
                </mat-form-field>
            </div>
        </div>
        <div>
            <button class="me-3" mat-raised-button color="primary" (click)="startAllMachines()">Start all Machines</button>
            <button class="me-3" mat-raised-button color="warn" (click)="stopAllMachines()">Stop all Machines</button>
        </div>
    </div>

    <div class="container-fluid row pe-0 ps-0">
        <div class="col-3 mb-3" *ngFor="let machine of machines; let i = index">
            <mat-card class="bg-light">
                <mat-card-title>Machine {{i+1}}</mat-card-title>
                <mat-card-content class="d-flex flex-column mt-3">

                    <div *ngIf="machine.url">ID: {{machine.machineId}}</div>

                    <mat-card class="d-flex flex-column mt-3 mb-3" *ngIf="machine.url">
                        <div class="mb-3">
                            <b>Transaction-Creation is currently <span [ngStyle]="{'color': machine.isRunning ? 'green' : 'red'}">{{machine.isRunning ? 'running' : 'stopped'}}</span></b>
                        </div>
                        <div>
                            <button class="me-2" mat-raised-button color="primary" (click)="startTxCreation(machine)">Start</button>
                            <button mat-raised-button color="warn" (click)="stopTxCreation(machine)">Stop</button>
                        </div>
                    </mat-card>

                    <mat-card class="d-flex flex-column mb-3">
                        <div class="mb-3">
                            <mat-form-field class="me-3">
                                <mat-label>Base URL</mat-label>
                                <input #machineUrlInput matInput type="text">
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="setBaseUrlTxCreatingMachine(machine, machineUrlInput.value)">Set URL</button>
                        </div>
                        <div>Base URL: {{machine.url}}</div>
                    </mat-card>

                    <mat-card class="d-flex flex-column mb-3" *ngIf="machine.url">
                        <div>
                            <mat-form-field>
                                <mat-label>Middleware URL</mat-label>
                                <input #middlewareUrlInput2 matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <button class="me-2" mat-raised-button color="primary" (click)="setMiddlewareUrl(machine, middlewareUrlInput2.value)">Set URL</button>
                            <button mat-raised-button color="accent" (click)="getMiddlewareUrl(machine)">Fetch current URL</button>
                        </div>
                        <div>current url: {{machine.middlewareUrl}}</div>
                    </mat-card>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
